name: Bump Version

on:
  push:
    branches:
      - master

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.POSTHOG_BOT_GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.x'

      - name: Determine version bump type
        id: bump-type
        env:
          GITHUB_TOKEN: ${{ secrets.POSTHOG_BOT_GITHUB_TOKEN }}
        run: |
          pr_number=$(gh pr list --base master --state merged --limit 1 --json number --jq '.[0].number')
          if [[ $(gh pr view $pr_number --json labels -q '.labels[].name' | grep -q "minor") ]]; then
            echo "type=minor" >> $GITHUB_OUTPUT
          else
            echo "type=patch" >> $GITHUB_OUTPUT
          fi

      - name: Bump version
        id: bump-version
        run: |
          current_version=$(grep -oP 'const Version = "\K[^"]+' version.go)
          echo "current_version=$current_version" >> $GITHUB_OUTPUT
          IFS='.' read -ra version_parts <<< "$current_version"
          major=${version_parts[0]}
          minor=${version_parts[1]}
          patch=${version_parts[2]}

          if [ "${{ steps.bump-type.outputs.type }}" == "minor" ]; then
            new_version="$major.$((minor + 1)).0"
          else
            new_version="$major.$minor.$((patch + 1))"
          fi

          sed -i "s/const Version = \"$current_version\"/const Version = \"$new_version\"/" version.go
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Update CHANGELOG.md
        run: |
          current_version="${{ steps.bump-version.output.current_version }}"
          new_version="${{ steps.bump-version.outputs.new_version }}"
          echo -e "## $new_version\n\n* [Full Changelog](https://github.com/PostHog/posthog-go/compare/v${current_version}...v${new_version})\n\n$(cat CHANGELOG.md)" > CHANGELOG.md

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add version.go CHANGELOG.md
          git commit -m "Bump version to ${{ steps.bump-version.outputs.new_version }}"
          git push

      - name: Create tag
        run: |
          git tag v${{ steps.bump-version.outputs.new_version }}
          git push --tags
