name: Unit Tests

on:
  pull_request:
  merge_group:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Check out source code
        uses: actions/checkout@v5

      - name: Build
        run: go build .

      - name: Test
        run: go test -timeout 30s -v .